#main-container-dashboard {
    background-color: #E1EEFF;
    width: 50%;
    min-height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

#container-dashboard-title {
    color: #2E2E2E;
    font-size: 20px;
    padding-block: 1rem;
}

#search-bar-dashboard form {
    display: flex;
}

#search-bar-dashboard input {
    width: 400px;
    height: 35px;
    border: 1px solid #000;
    border-radius: 10px;
    padding-left: .7rem;
    font-family: "IBM Plex Sans";
    font-size: 18px;
}

#search-bar-dashboard button[type=submit] {
    border: none;
    position: relative;
    background-color: #0360D9;
    padding: .3rem 1rem;
    color: #fff;
    font-weight: 500;
    font-family: "IBM Plex Sans";
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    outline: none;
}

#search-bar-dashboard button[type=submit]:hover {
    background-color: #0346A2;
}

#btn-search {
    bottom: -1px;
    position: relative;
    cursor: pointer;
    padding: 3px;
    border-radius: 50%;
    color: #0360D9;
    transition: .3s ease-in-out;
}

#btn-search:hover {
    background-color: #c7c4c4;
}

#filter-data {
    align-items: center;
    width: 400px;
    margin-top: 1rem;
    position: relative;
}

#filter-data ul {
    display: flex;
    justify-content: space-between;
    margin-inline: .2rem;
    gap: .3rem;
}

#filter-data ul li {
    list-style: none;
}

#dashboard-modal {
    align-items: normal;
}

#patients-title {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 18px;
    font-weight: 500;
}

.patient-data {
    color: #2E2E2E;
    padding: .5rem;
    background-color: #fff;
    width: 400px;
    border-radius: 15px;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-origin: center center;
}

.patient-data:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.patient-data:last-child {
    margin-bottom: 2.5rem;
}

.patient-data span {
    font-weight: 500;
}

.inline-data {
    display: flex;
    flex-wrap: wrap;
}

.patient-data img {
    width: 27px;
    height: 27px;
    margin-right: .1rem;
    position: relative;
    bottom: -7px;
}

.patient-data p {
    font-size: 17px;
}

.user-name,
.user-cpf,
.user-age,
.user-address,
.user-exam {
    display: inline-block;
}

.user-cpf {
    margin-right: .5rem;
}

.user-exam {
    margin-right: .5rem;
    color: #0360D9;
}

.user-exam span {
    color: #000;
}

.exam-data {
    margin-bottom: .3rem;
}
