.footer-container {
    background-color: #0360D9;
    margin-top: 3rem;
    color: #fff;
    text-align: center;
}

#footer-conteudo {
    display: flex;
    justify-content: space-evenly;
}

#container-conteudo-footer {
    text-align: left;
    margin-bottom: .5rem;
}

#container-conteudo-footer h4 {
    margin-block: 1rem;
    font-size: 22px;
}

#container-conteudo-footer p {
    width: 400px;
}

#container-conteudo-footer li {
    list-style: none;
}

#container-conteudo-footer li a {
    color: #fff;
    text-decoration: none;
}

#container-conteudo-footer li a:hover {
    color: #d1d1d1;
    transition: .3s all ease-in-out;
}

#linha {
    width: 90%;
    border: 1px solid #fff;
    margin: 0 auto 1rem auto;
}

.footer-container p {
    padding-bottom: 1rem;
}