.header-container {
    position: relative;
    display: flex;
    padding-top: 1.7rem;
    padding-inline: 3rem;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

#navbar-container ul {
    list-style: none;
    display: flex;
    font-size: 20px;
    gap: 4rem;
}

#navbar-container ul #selecionado {
    color: #0360D9;
    border-bottom: 2px solid #0360D9;
    font-weight: 600;
}

#navbar-container ul li {
    color: #2E2E2E;
    padding-bottom: 0.3rem;
    border-bottom: none;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

#navbar-container ul li:hover {
    color: #0360D9;
    font-weight: 600;
}

#header-title {
    top: -8px;
    position: relative;
    color: #2E2E2E;
}

#header-title span {
    color: #0360D9;
}

#btn-sair button {
    text-decoration: none;
    color: #2E2E2E;
    background-color: #fff;
    font-weight: 500;
    border: 2px solid #2E2E2E;
    padding: 0.4rem 1.3rem;
    border-radius: 16px;
    font-size: 18px;
    transition: .3s all ease-in-out;
}

.icone-sair {
    font-size: 20px;
    position: relative;
    bottom: -4px;
    margin-left: 0.3rem;
}

#btn-sair button:hover {
    color: #0360D9;
    border-color: #0360D9;
}