.btn-primary,
.btn-secondary {
  margin-top: 2rem;
  background-color: #0360d9;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 500;
  font-family: "IBM Plex Sans", serif;
  padding: 0.7rem 1.5rem;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.btn-primary:hover {
  background-color: #0346a2;
}

.btn-primary:disabled,
.btn-primary[disabled] {
  background-color: #bdbdbd;
  color: #f5f5f5;
  opacity: 0.7;
  cursor: not-allowed;
  box-shadow: none;
}

.btn-secondary {
  margin-right: 0.5rem;
  background-color: #fff;
  color: #2e2e2e;
  border: 1px solid #2e2e2e;
}

.btn-secondary:hover {
  background-color: #c5c5c5;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  pointer-events: none;
  transition: opacity 0.3s ease;
  opacity: 0;
}

#modal-backdrop.show {
  opacity: 1;
  pointer-events: auto;
  position: fixed;
}

#modal-backdrop.show .modal {
  transform: translateY(0);
  opacity: 1;
}

#modal-backdrop-msg-sucesso.show {
  opacity: 1;
  pointer-events: auto;
}

#modal-raiox-container,
#modal-ambos-container {
  background-color: #fff;
  width: 700px;
  min-width: 550px;
  height: 370px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 10;
}

#modal-ambos-container {
  transition: width 0.5s ease-in-out;
}

#modal-prontuario-container-raiox,
#modal-prontuario-container-ressonancia,
#modal-prontuario-container-ambos,
#modal-prontuario-ressonancia {
  z-index: 2;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  width: 430px;
  border-radius: 20px;
  flex-direction: column;
  display: none;
}

#modal-prontuario-container-raiox h5,
#modal-prontuario-container-ressonancia h5,
#modal-prontuario-container-ambos h5,
#modal-ressonancia-container h5 {
  font-size: 22px;
  margin-bottom: 2.7rem;
}

#modal-prontuario-container-raiox span,
#modal-prontuario-container-ressonancia span,
#modal-prontuario-container-ambos span,
#modal-ressonancia-container span {
  color: #0360d9;
}

#input-container-prontuario-raiox,
#input-container-prontuario-ressonancia,
#input-container-prontuario-ambos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input-prontuario-raiox,
#input-prontuario-ressonancia,
#input-prontuario-ambos,
#input-ressonancia {
  opacity: 0;
  position: absolute;
  width: 249px;
  height: 82px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s all ease-in-out;
}

#input-prontuario-raiox + .custom-input,
#input-prontuario-ressonancia + .custom-input,
#input-prontuario-ambos + .custom-input,
#input-ressonancia:hover + #custom-input-ressonancia {
  background-color: #d1d1d1;
  color: #0346a2;
}

.modal {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#modal-msg-sucesso {
  transform: translateY(-30px);
  opacity: 0;
}

#modal-backdrop-msg-sucesso.show .modal {
  transform: translateY(0);
  opacity: 1;
}

.modal-header {
  background-color: #fff;
  color: #2e2e2e;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.modal-footer {
  padding: 15px 20px;
  height: 80px;
  width: 95%;
  bottom: 0;
}

.modal-header-title {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}

.modal-header-title span {
  color: #0360d9;
}

.modal-header button {
  background-color: #fff;
  border: none;
}

.modal-footer-btns {
  position: absolute;
  right: 0;
  margin: 10px 20px 0 0;
}

#btn-close-modal {
  font-size: 24px;
  border-radius: 50%;
  padding: 0.2rem;
  transition: 300ms all ease-in-out;
}

.modal-body {
  padding-inline: 20px;
  position: relative;
}

.labels {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  width: max-content;
  position: absolute;
  right: 0;
  margin-top: 0.3rem;
  margin-bottom: 5rem;
  margin-right: 20px;
}

.labels ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;
}

.labels li {
  margin-block: 0.1rem;
}

.labels i {
  position: relative;
  font-size: 30px;
  padding: 0;
  margin: 0;
  bottom: -0.4rem;
}

.form-step input {
  position: absolute;
  opacity: 0;
  width: 243px;
  height: 85px;
  margin-left: 6rem;
  z-index: 4;
  cursor: pointer;
}

.form-step input:hover + .custom-input {
  background-color: #dddddd;
}

.modal-footer {
  padding: 15px 20px;
  height: 80px;
  width: 95%;
}

/* Form styles */
.form-step {
  display: none;
}

.form-step.active {
  display: block;
}

.form-step.active.ressonancia {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.form-control:focus {
  border-color: #3498db;
  outline: none;
}

.custom-input,
.custom-input-prontuario,
#custom-input-ressonancia,
#custom-input-ambos {
  border: 1px solid #2e2e2e;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  margin-top: 4rem;
  margin-left: 5.8rem;
  font-size: 24px;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #0360d9;
  z-index: 1;
  transition: 0.3s all ease-in-out;
}

.custom-input-prontuario,
#custom-input-ressonancia,
#custom-input-ambos,
#input-value-ambos {
  margin: 0;
}

.custom-input i {
  font-size: 38px;
  position: relative;
  bottom: -6px;
}

.file-name {
  text-align: start;
  margin-left: 6rem;
  margin-top: 2px;
}

#valor-input-prontuario,
#input-value-ambos {
  margin-bottom: 2rem;
}

#progress-title {
  position: relative;
  width: 390px;
  text-align: center;
  bottom: -3.7rem;
}

.progress-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 20px;
  margin-bottom: 20px;
  height: 7px;
  background-color: #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  width: 390px;
}

.progress {
  height: 100%;
  background-color: #0360d9;
  width: 0;
  transition: width 0.3s ease;
}
