#modal-visualizacao-imagens-container {
    background-color: #fff;
    width: max-content;
    height: max-content;
    max-width: 950px;
    max-height: 90vh;
    overflow-y: auto;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

#modal-visualizacao-imagens-container h5 {
    margin: 1rem;
}

#filter-data-view-images {
    margin-top: 0;
    margin-left: 1rem;
}

#filter-data-view-images ul {
    justify-content: normal;
    gap: .7rem;
}

.container-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1rem;
}

#images-container-render {
    background-color: #d1d1d1;
    margin: 1rem 2rem 1rem 2rem;
    border-radius: 20px;
}

.image-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    column-gap: 1rem;
    padding: 0 1rem 0 1rem;
}

.image-view p {
    margin: 1rem auto 0 auto;
    height: min-content;
    cursor: pointer;
}

.image-view img {
    width: 250px;
    height: 250px;
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
}

#btn-close-botton-modal-view-image {
    margin: 0 .5rem 1rem 0;
}