* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'IBM Plex Sans';
}

.header-container {
    position: relative;
    display: flex;
    padding-top: 1.7rem;
    padding-inline: 3rem;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

#navbar-container ul {
    list-style: none;
    display: flex;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    gap: 4rem;
    color: #2E2E2E;
}

#navbar-container ul li:hover {
    color: #0360D9;
    padding-bottom: 0.3rem;
    border-bottom: 2px solid #0360D9;
    transition: .3s;
    font-weight: 600;
}

#header-title {
    top: -8px;
    position: relative;
    color: #2E2E2E;
}

#header-title span {
    color: #0360D9;
}

#btn-sair a {
    text-decoration: none;
    color: #2E2E2E;
    font-weight: 500;
    border: 2px solid #2E2E2E;
    padding: 0.4rem 1.3rem;
    border-radius: 20px;
    font-size: 20px;
}

.icone-sair {
    font-size: 22px;
    position: relative;
    bottom: -4px;
    margin-left: 0.3rem;
}

#btn-sair a:hover {
    color: #0360D9;
    border-color: #0360D9;
    transition: .3s all ease-in-out;
}

.main-container {
    display: flex;
    flex-direction: column;
}

#section-sobre {
    background-color: #E1EEFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-conteudo {
    padding-block: 2rem;
    position: relative;
    display: flex;
    width: max-content;
    flex-direction: column;
}

#section-conteudo h3 {
    width: 600px;
    margin: 0 auto;
    font-size: 28px;
    color: #2E2E2E;
}

#section-conteudo h3 span {
    color: #0360D9;
}

#section-imagem {
    position: absolute;
    top: 4.4rem;
    right: 1.5rem;
    width: 78px;
    height: 73px;
}

#section-conteudo p {
    width: max-content;
    font-size: 14px;
    font-weight: bold;
    color: #656565;
}

#main-conteudo {
    margin-top: 3.6rem;
    display: flex;
    justify-content: center;
}

#conteudo {
    width: max-content;
    text-align: center;
}

#main-titulo { 
    font-weight: 600;
    font-size: 28px;
    color: #2E2E2E;
}

#main-titulo span {
    color: #0360D9;
}

#main-btn {
    margin-top: 2.3rem;
    background-color: #0360D9;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 500;
    font-family: 'IBM Plex Sans';
    padding: 0.7rem 1.5rem;
    border-radius: 20px;
    cursor: pointer;
}

#main-btn:hover {
    background-color: #0346A2;
    transition: .3s all ease-in-out;
}

.footer-container {
    background-color: #0360D9;
    margin-top: 3rem;
    color: #fff;
    text-align: center;
}

#footer-conteudo {
    display: flex;
    justify-content: space-evenly;
}

#container-conteudo-footer {
    text-align: left;
    margin-bottom: .5rem;
}

#container-conteudo-footer h4 {
    margin-block: 1rem;
    font-size: 22px;
}

#container-conteudo-footer p {
    width: 400px;
}

#container-conteudo-footer li {
    list-style: none;
}

#container-conteudo-footer li a {
    color: #fff;
    text-decoration: none;
}

#container-conteudo-footer li a:hover {
    color: #d1d1d1;
    transition: .3s all ease-in-out;
}

#linha {
    width: 90%;
    border: 1px solid #fff;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.footer-container p {
    padding-bottom: 1rem;
}
