<div id="modal-backdrop-msg-sucesso" class="modal-backdrop {% if msg_sucesso %}show{% endif %} ">
    <div class="modal" id="modal-msg-sucesso">
        <div id="modal-msg-sucesso-container">
            <i class="btn-fechar material-icons">close</i>

            <div id="main-container-msg-sucesso">
                <i class="icone-sucesso material-icons">check_circle</i>
                <p>{{ mensagem }}</p>
            </div>

            <div class="btn-container">
                <button type="button" id="btn-msg-sucesso" class="btn-primary">Ok</button>
            </div>
        </div>
    </div>
</div>