.modal-send-images {
  z-index: 2;
  width: 500px;
  position: fixed;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.modal-send-images span {
  color: #0360d9;
}

.modal-send-images h5 {
  top: 0;
  font-size: 20px;
  margin-bottom: 1.5rem;
  margin-right: 4rem;
}

.modal-send-images i {
  margin-right: 0.7rem;
  margin-top: 1.1rem;
}

.input-container-images {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-images {
  opacity: 0;
  position: absolute;
  width: 249px;
  height: 82px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s all ease-in-out;
}

.custom-input-send-images {
  border: 1px solid #2e2e2e;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-size: 24px;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #0360d9;
  z-index: 1;
  transition: 0.3s all ease-in-out;
}

.input-images:hover + .custom-input-send-images {
  background-color: #d1d1d1;
  color: #0346a2;
}
