.modal-exam-send-images {
  z-index: 2;
  width: 550px;
  position: fixed;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 20px;
  display: none;
}

#modal-prontuario-container-ambos {
  z-index: 2;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  width: 430px;
  border-radius: 20px;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#modal-prontuario-container-ambos h5 {
  font-size: 22px;
  margin-bottom: 2.2rem;
}

.modal-exam-send-images span,
#modal-prontuario-container-ambos span {
  color: #0360d9;
}

#input-prontuario-ambos {
  opacity: 0;
  position: absolute;
  width: 249px;
  height: 82px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s all ease-in-out;
}

#input-prontuario-ambos:hover + .custom-input-prontuario {
  background-color: #d1d1d1;
  color: #0346a2;
}

#modal-prontuario-container-ambos .valor-input {
  margin: 0;
}
