<footer class="footer-container">
  <div id="footer-conteudo">
    <div id="container-conteudo-footer">
      <h4>Heath-AI</h4>
      <p>
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout.
      </p>
    </div>

    <div id="container-conteudo-footer">
      <h4>Links Úteis</h4>
      <nav>
        <ul>
          <li><a href="#">Sobre nós</a></li>
          <li><a href="#">Política de privacidade</a></li>
          <li><a href="#">Nossa missão</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div id="linha"></div>
  <p>&copy; 2025 - Todos os direitos reservados</p>
</footer>
