<footer class="footer-container">
  <div id="footer-conteudo">
    <div id="container-conteudo-footer">
      <h4>Heath-AI</h4>
      <p>
        Revolucionando o diagnóstico médico através da Inteligência Artificial. Nossa missão é tornar a medicina mais precisa, rápida e acessível para todos.
      </p>
    </div>

    <div id="container-conteudo-footer">
      <h4>Links Úteis</h4>
      <nav>
        <ul>
          <li>
              <a
                 hx-get="{% url 'about' %}"
                 hx-target=".page-container"
                 hx-push-url="true"
              >
                  Sobre nós
              </a>
          </li>
          <li>
              <a
                 hx-get="{% url 'about' %}"
                 hx-target=".page-container"
                 hx-push-url="true"
              >
                  Política de privacidade
              </a>
          </li>
          <li>
              <a
                 hx-get="{% url 'about' %}"
                 hx-target=".page-container"
                 hx-push-url="true"
              >
                 Nossa missão
              </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div id="linha"></div>
  <p>&copy; 2025 - Todos os direitos reservados</p>
</footer>
