{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página Inicial</title>

    <!-- HTMX -->
    <script
      src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js"
      integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1"
      crossorigin="anonymous"
    ></script>

    <!-- IBM Plex Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wdth,wght@0,75..100,100..700;1,75..100,100..700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'global/css/modal-mensagem-sucesso.css' %}">

    <script type="module" src="{% static 'global/js/modal-mensagem-sucesso.js' %}" defer></script>

    <link rel="stylesheet" href="{% static 'web/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'web/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/cadastro-usuario.css' %}"/>
    <link rel="stylesheet" href="{% static 'web/css/modal-tipo-analise.css' %}"/>
    <link rel="stylesheet" href="{% static 'web/css/modal-opcoes-3d.css' %}"/>
    <link rel="stylesheet" href="{% static 'web/css/modal-opcoes-2d.css' %}"/>
    <link rel="stylesheet" href="{% static 'web/css/modais.css' %}"/>
    <link rel="stylesheet" href="{% static 'web/css/footer-principal.css' %}"/>
    <link rel="stylesheet" href="{% static 'web/css/dashboard.css' %}"/>
    <link rel="stylesheet" href="{% static 'web/css/modal-infomacoes-exame.css' %}"/>
    <link rel="stylesheet" href="{% static 'web/css/modal-prontuario-informcaoes-exame.css' %}"/>
    <link rel="stylesheet" href="{% static 'web/css/modal-tipo-visualizacao.css' %}"/>
    <link rel="stylesheet" href="{% static 'web/css/modal-visualizacao-imagens.css' %}"/>
    <link rel="stylesheet" href="{% static 'web/css/modal-imagem-tela-cheia.css' %}"/>
    <link rel="stylesheet" href="{% static 'web/css/modal-cadastro-paciente.css' %}"/>
    <link rel="stylesheet" href="{% static 'web/css/about.css' %}"/>

    <script type="module" src="{% static 'web/js/styles.js' %}" defer></script>
    <script type="module" src="{% static "web/js/login.js"%}" defer></script>
    <script type="module" src="{% static "web/js/cadastro-usuario.js" %}" defer></script>
    <script type="module" src="{% static "web/js/modal-tipo-analise.js" %}" defer></script>
    <script type="module" src="{% static "web/js/modal-opcoes-3d.js" %}" defer></script>
    <script type="module" src="{% static "web/js/modal-opcoes-2d.js" %}" defer></script>
    <script type="module" src="{% static "web/js/modal-raiox.js"%}" defer></script>
    <script type="module" src="{% static "web/js/modal-informacoes-exame.js" %}"></script>
    <script type="module" src="{% static 'web/js/script.js' %}" defer></script>
    <script type="module" src="{% static 'web/js/modal-ressonancia.js' %}" defer></script>
    <script type="module" src="{% static 'web/js/modal-prontuario-informacoes-exame.js' %}" defer></script>
    <script type="module" src="{% static 'web/js/modal-tipo-visualizacao.js' %}" defer></script>
    <script type="module" src="{% static 'web/js/modal-visualizacao-imagens.js' %}" defer></script>
    <script type="module" src="{% static 'web/js/modal-imagem-tela-cheia.js' %}" defer></script>
    <script type="module" src="{% static 'web/js/modal-cadastro-paciente.js' %}" defer></script>


  </head>
</html>
