<header class="header-container">
  <h1 id="header-title">Heath-<span>AI</span></h1>

  <nav id="navbar-container">
    <ul>
      <li id="selecionado"><a href="#"></a>Página Inicial</li>
      <li><a href="#"></a>Sobre</li>
      <li><a href="#"></a>Contato</li>
    </ul>
  </nav>

  <div id="btn-sair">
      <form hx-post="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit">Sair<i class="icone-sair material-icons">exit_to_app</i></button>
      </form>
  </div>
</header>
