<header class="header-container">
  <h1 id="header-title">Heath-<span>AI</span></h1>

  <nav id="navbar-container">
    <ul>
      <li {% if current_page == 'home' %}id="selecionado"{% endif %}>
          <a
              hx-get="{% url 'home' %}"
              hx-target=".page-container"
              hx-push-url="true">
              Página Inicial
          </a>
      </li>
      <li {% if current_page == 'dashboard' %}id="selecionado"{% endif %}>
          <a
              hx-get="{% url 'dashboard' %}"
              hx-target=".page-container"
              hx-push-url="true">
              Dashboard
          </a>
      </li>
      <li>
          <a
              hx-get="#"
              hx-target=".main-container"
              hx-push-url="true">
              Sobre
          </a>
      </li>
      <li>
          <a
              hx-get="#"
              hx-target=".main-container"
              hx-push-url="true">
              Contato
          </a>
      </li>
    </ul>
  </nav>

  <div id="btn-sair">
      <form hx-post="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit">Sair<i class="icone-sair material-icons">exit_to_app</i></button>
      </form>
  </div>
</header>
