<div class="container-img">
  {% if x_ray_list %} {% for x_ray in x_ray_list %} {% if x_ray.images.exists %}
  {% for image in x_ray.images.all %}
  <div class="image-view">
    <img src="{% url 'serve_xray_image' image.id %}" alt="Imagem de Raio-X" />
  </div>
  {% endfor %} {% else %}
  <p>Nenhuma imagem de raio x foi encontrada para este exame</p>
  {% endif %} {% empty %}
  <p>Nenhuma imagem de raio x foi encontrada</p>
  {% endfor %} {% else %}
  <p>Nenhum tipo de imagem foi selecionado</p>
  {% endif %}
</div>
