{% load static %}

<div class="image-view">
    <p>Ressonância</p>
    <img src="{% static 'web/assets/images/img-teste.png' %}" alt="Imagem da ressonância">
</div>

<div class="image-view">
    <p>Ressonância</p>
    <img src="{% static 'web/assets/images/img-teste.png' %}" alt="Imagem da ressonância">
</div>

<div class="image-view">
    <p>Ressonância</p>
    <img src="{% static 'web/assets/images/img-teste.png' %}" alt="Imagem da ressonância">
</div>

<div class="image-view">
    <p>Ressonância</p>
    <img src="{% static 'web/assets/images/img-teste.png' %}" alt="Imagem da ressonância">
</div>

<div class="image-view">
    <p>Ressonância</p>
    <img src="{% static 'web/assets/images/img-teste.png' %}" alt="Imagem da ressonância">
</div>

<div class="image-view">
    <p>Ressonância</p>
    <img src="{% static 'web/assets/images/img-teste.png' %}" alt="Imagem da ressonância">
</div>

