 <div class="container-img">
    {% if x_ray_list %}
    	{% for x_ray in x_ray_list %}
    		{% if x_ray.img_pd_cima %}
              <div class="image-view">
                  <p>Pé direito (cima)</p>
                  <img src="{{ x_ray.img_pd_cima.url }}">
              </div>
            {% endif %}

            {% if x_ray.img_pd_lateral %}
              <div class="image-view">
                  <p>Pé direito (lateral)</p>
                  <img src="{{ x_ray.img_pd_lateral.url }}">
              </div>
            {% endif %}

            {% if x_ray.img_pe_cima %}
              <div class="image-view">
                  <p>Pé esquerdo (cima)</p>
                  <img src="{{ x_ray.img_pe_cima.url }}">
              </div>
            {% endif %}

            {% if x_ray.img_pe_lateral %}
              <div class="image-view">
                  <p>Pé esquerdo (lateral)</p>
                  <img src="{{ x_ray.img_pe_lateral.url }}">
              </div>
            {% endif %}

            {% if x_ray.img_ambos_cima %}
              <div class="image-view">
                  <p>Ambos os pés (cima)</p>
                  <img src="{{ x_ray.img_ambos_cima.url }}">
              </div>
            {% endif %}
        {% empty %}
            <p>Nenhuma imagem de raio x foi encontrada</p>
    	{% endfor %}
    {% else %}
        <p>Nenhum tipo de imagem foi selecionado</p>
    {% endif %}
 </div>