{% load static %}
{% include 'web/partials/head.html' %}

<h2 id="patients-title">Pacientes</h2>

{% for data in result %}
    <div
        class="patient-data"

        data-patient-name="{{ data.patient.name }}"
        data-patient-cpf="{{ data.patient.cpf }}"
        data-patient-age="{{ data.patient.age }}"
        data-patient-address="{{ data.patient.address }}"
        data-clinician-name="{{ data.clinician.name }}"
        data-clinician-crm="{{ data.clinician.crm }}"
        data-exam-type="
            {% if data.exam.x_ray and data.exam.resonance %}
                Raio X e Ressonância
                {% elif data.exam.x_ray and not data.exam.resonance %}
                    Raio X
                    {% elif not data.exam.x_ray and data.exam.resonance %}
                        Ressonância
                        {% else %}
                            Nenhum exame realizado
            {% endif %}
        "
        data-exam="{{ data.exam.date }}"
        data-exam-id="{{ data.exam.id }}"
    >
        <p class="user-name">
            <span>
                <img
                    src="{% static 'web/assets/images/use-icon.svg' %}"
                    alt="user icon">
                Nome:
            </span>
            {{ data.patient.name }}
        </p>
        <div class="inline-data">
            <p class="user-cpf">
                <span>
                    <img
                        src="{% static 'web/assets/images/doc-icon.svg' %}"
                        alt="doc icon">
                    CPF:
                </span>
                {{ data.patient.cpf }}
            </p>
            <p class="user-age">
                <span>
                    <img
                        src="{% static 'web/assets/images/data-icon.svg' %}"
                        alt="data icon">
                    Idade:
                </span>
                {{ data.patient.age }} anos
            </p>
        </div>
        <p class="user-address">
            <span>
                <img
                    src="{% static 'web/assets/images/address-icon.svg' %}"
                    alt="address icon">
                Endereço:
            </span>
            {{ data.patient.address }}
        </p>
        <div class="inline-data">
            <p class="user-exam">
                <span>
                    <img
                        src="{% static 'web/assets/images/exam-icon.svg' %}"
                        alt="exam icon">
                    Exame:
                </span>
                {% if data.exam.x_ray and data.exam.resonance %}
                	Raio X <span style="color: #2E2E2E">e</span> Ressonância
                    {% elif data.exam.x_ray and not data.exam.resonance %}
                        Raio X
                        {% elif not data.exam.x_ray and data.exam.resonance %}
                            Ressonância
                            {% else %}
                                Nenhum exame realizado
                {% endif %} 
            </p>

            <p class="exam-data">
                <span>
                    <img
                        src="{% static 'web/assets/images/data-icon.svg' %}"
                        alt="exam icon">
                    Data:
                </span>
                {{ data.exam.date }}
            </p>
        </div>
    </div>

    {% empty %}
    <p>Nenhum paciente encontrado</p>
{% endfor %}




