{% load static %}

<div id="main-container-dashboard">
    <h1 id="container-dashboard-title">
        Buscar pacientes
    </h1>

    <div id="search-bar-dashboard" hx-target="#main-container-dashboard">
        <label>
            <input
                type="text"
                placeholder="Nome ou CPF do paciente"
                name="patient"
                hx-get="{% url 'find-patients' %}"
                hx-target="#patients"
                hx-trigger="keyup changed delay:300ms"
                autocomplete="false"
            >
        </label>

        <nav id="filter-data">
            <ul>
                <li>
                    <button
                        type="submit"
                        name="filter-data-exam"
                        hx-get="#"
                        hx-target="#patients"
                    >
                        Filtar por data
                    </button>
                </li>
                <li>
                    <button
                        type="submit"
                        name="last-7-days"
                        hx-get="{% url 'find-patients-by-data-exam' %}"
                        hx-target="#patients"
                        value="1"
                    >
                        7 dias
                    </button>
                </li>
                <li>
                    <button
                        type="submit"
                        name="last-15-days"
                        hx-get="{% url 'find-patients-by-data-exam' %}"
                        hx-target="#patients"
                        value="1"
                    >
                        15 dias
                    </button>
                </li>
                <li>
                    <button
                        type="submit"
                        name="last-1-month"
                        hx-get="{% url 'find-patients-by-data-exam' %}"
                        hx-target="#patients"
                        value="1"
                    >
                        1 mês
                    </button>
                </li>
            </ul>
        </nav>

        <div id="modal-backdrop" class="modal-backdrop">
            <div id="dashboard-modal" class="modal">
                {% include 'web/partials/modal-informacoes-exame.html' %}
            </div>
        </div>

        <div id="patients">
            {% include 'web/partials/main-dashboard-patients.html' %}
        </div>
    </div>
</div>