{% load static %}

<div id="main-container-dashboard">
    <h1 id="container-dashboard-title">
        Buscar pacientes
    </h1>

    <div id="search-bar-dashboard" hx-target="#main-container-dashboard">
        <label>
            <input
                type="text"
                placeholder="Nome ou CPF do paciente"
                name="patient"
                hx-get="{% url 'find-patients' %}"
                hx-target="#patients"
                hx-trigger="keyup changed delay:300ms"
                autocomplete="false"
            >
        </label>

        <nav id="filter-data">
            <ul>
                <li><a hx-post="#">Filtrar por data</a></li>
                <li><a hx-post="#">7 dias</a></li>
                <li><a hx-post="#">15 dias</a></li>
                <li><a hx-post="#">1 mês</a></li>
            </ul>
        </nav>

        <div id="modal-backdrop" class="modal-backdrop">
            <div id="dashboard-modal" class="modal">
                {% include 'web/partials/modal-informacoes-exame.html' %}
            </div>
        </div>

        <div id="patients">
            {% include 'web/partials/list-patients.html' %}
        </div>
    </div>
</div>