<section id="container-esquerdo-section">
    <form hx-post="{% url 'iniciar-sessao' %}" hx-target="#form-login-container">
        {% csrf_token %}

        <h2>Bem-vindo(a)</h2>
        <p id="container-esquerdo-descricao">
            Entre com seu email e senha para acessar sua conta
        </p>

        <div class="container-esquerdo-input">
            <label for="email">Email</label>
            <input 
                type="email" 
                id="email" 
                name="email" 
                class="{% if messages %}error{% endif %}" 
                required
            >
        </div>

        <div id="input-senha" class="container-esquerdo-input">
            <label for="senha">Senha</label>
            <input 
                type="password" 
                id="senha" 
                name="senha" 
                class="{% if messages %}error{% endif %}" 
                required>
        </div>

        <div id="container-senha">
            <div id="container-mostrar-senha">
                <input  type="checkbox" name="mostrar-senha" id="mostrar-senha">
                <label for="mostrar-senha">Mostrar senha</label>
            </div>

            <a id="link-recuperar-senha" href="#">Esqueceu sua senha?</a>
        </div>

         {% if messages %}
            <div id="message-login">
                {% for message in messages %}
                    <p class="message-error">{{message}}</p>
                {% endfor %}
            </div>
        {% endif %}
        
        <button type="submit">Entrar</button>
        
        <p id="link-cadastro">
            Não possui uma conta? 
            <span>
                <a href="{% url 'cadastro_usuario' %}">Cadastre-se</a>
            </span>
        </p>
    </form>
</section>