{% load static %}

<main class="main-container">
  <section id="section-sobre">
    <div id="section-conteudo">
      <h3>
        O Heath-<span>AI</span> permite o diagnóstico de lesões de forma rápida
        e segura atráves da <span>Inteligençia Artificial</span>.
      </h3>
      <img
        id="section-imagem"
        src="{% static 'web/assets/images/ia-icon.png' %}"
        alt="IA Icon"
      />
      <p>Utilizamos algoritmos robustos de Machine Learning e Redes Neurais.</p>
    </div>
  </section>

  <div class="modal">
    <div id="modal-opcoes-container">
      <div style="display: flex">
        <button style="border: none">
          <i class="btn-fechar material-icons">close</i>
        </button>
        <h5 class="modal-titulo">Selecione uma das opções para envio:</h5>
      </div>

      <nav id="opcoes">
        <ul>
          <li><button>Raio-X</button></li>
          <li><button>Ressonância</button></li>
          <li><button>Ambos</button></li>
        </ul>
      </nav>
    </div>
  </div>

  {% include "web/partials/modal.html" %}

  <div id="main-conteudo">
    <div id="container-conteudo-main">
      <h2 id="main-titulo">
        Ao clicar em <span>iniciar</span>, <br />
        você deve selecionar as imagens de <span>Raio X</span> <br />
        e posteriomente, as de <span>Ressonância</span>
      </h2>
      <button id="main-btn" hx-trigger="click" hx-target=".modal">
        Iniciar envio
      </button>
    </div>
  </div>
</main>
