<div class="modal">
  <div style="display: none" id="modal-opcoes-container">
    <div style="display: flex">
      <button style="border: none">
        <i class="btn-fechar material-icons">close</i>
      </button>
      <h5 class="modal-titulo">Selecione uma das opções para envio:</h5>
    </div>

    <nav id="opcoes">
      <ul>
        <li><button class="btn-modal-raiox">Raio-X</button></li>
        <li><button class="btn-modal-ressonancia">Ressonância</button></li>
        <li><button id="btn-modal-ambos">Ambos</button></li>
      </ul>
    </nav>
  </div>
</div>
