{% load static %}

<div class="modal">
   <div style="display: none" id="modal-ressonancia-container">
      <form class="form"  method="post" enctype="multipart/form-data" action="{% url 'upload-ressonancia' %}">
         {% csrf_token %} 
        <h5 class="modal-titulo">
            Selecione os arquivo da <span>Ressonância</span>
          </h5>
          <button style="border: none;">
            <i class="btn-fechar material-icons">close</i>
          </button>
          <div id="input-container-ressonancia">
            <input type="file" id="input-ressonancia" name="imagens_ressonancia" multiple>
            <div id="custom-input-ressonancia">
              <img
                class="icone-upload"
                src="{% static 'web/assets/images/upload-icon.svg' %}"
                alt=""
              />
              Selecione o arquivo
            </div>
          </div>
          <p id="valor-input-ressonancia" class="valor-input"><span>0</span> Arquivos selecionados</p>
          <div class="btn-container">
            <button type="submit" class="btn-primary" id="btn-submit-ressonancia">Enviar</button>
          </div>
      </form>
  </div>
</div>