<div style="display: none" id="modal-info-exam-container">
    <div style="display: flex">
        <button style="border: none">
            <i class="btn-fechar material-icons">close</i>
        </button>
        <h5 class="modal-titulo">Informações do exame</h5>
    </div>

    <div class="exam-data">
        <h2 class="exam-data-title">
            Paciente
        </h2>

        <div class="data-container">
            <div class="container-block">
                <span>Nome</span><div id="patient-name" class="container-content"></div>
            </div>

            <div class="container-block">
                <span>CPF</span>
                <div id="patient-cpf" class="container-content"></div>
            </div>

            <div class="container-block">
                <span>Idade</span>
                <div id="patient-age" class="container-content"></div>
            </div>

            <div class="container-block">
                <span>Endereço</span>
                <div id="patient-address" class="container-content"></div>
            </div>
        </div>

        <h2 class="exam-data-title">
            Exame
        </h2>

        <div class="data-container">
            <div class="container-block">
                <span>Médico</span>
                <div id="clinician-name" class="container-content"></div>
            </div>

            <div class="container-block">
                <span>CRM</span>
                <div id="clinician-crm" class="container-content"></div>
            </div>

            <div class="container-block">
                <span>Imagens enviadas</span>
                <div id="exam-type" class="container-content"></div>
            </div>

            <div class="container-block">
                <span>Data de exame</span>
                <div id="exam-data" class="container-content"></div>
            </div>
        </div>

        <div id="container-btns-modal-info-exam">
            <a
                id="modal-info-btn-download"
                download
            >
                Baixar prontuário
            </a>

            <a
                id="modal-info-btn-show-images"
            >
                Ver imagens
            </a>

            <button type="button">Enviar imagens</button>

            <a
                id="modal-info-btn-diagnostic"
                download
            >
                Diagnóstico
            </a>
        </div>
    </div>
</div>

{# Caso não haja um prontuário para download, o clínico pode enviar um  #}
{% include 'web/partials/modal-prontuario-informacoes-exame.html' %}
{# Modal para selecionar o tipo de imagem para visualizacao #}
{% include 'web/partials/modal-tipo-analise.html' %}