<div style="display: none" id="modal-opcoes-2d-container">
  <div style="display: flex">
    <button style="border: none">
      <i class="btn-fechar material-icons">close</i>
    </button>
    <h5 class="modal-titulo">Selecione uma das opções para envio:</h5>
  </div>

  <nav id="opcoes">
    <ul>
      <li><button id="btn-modal-x-ray-2d" class="btn-modal-raiox">Raio-X</button></li>
      <li><button id="btn-modal-resonance-2d" class="btn-modal-ressonancia">Ressonância</button></li>
    </ul>
  </nav>
</div>
  