{% load static %}

<form method="post" enctype="multipart/form-data" action="{% url 'upload-multi-modal' %}">
  {% csrf_token %}
  <div class="modal">
    <div style="display: none;" id="modal-raiox-container">
      <div class="form">
        <div class="modal-header">
          <h5 class="modal-titulo">
            Selecione as imagens de <span>Raio X</span>
          </h5>
          <button><i id="btn-close-raiox" class="btn-fechar material-icons">close</i></button>
        </div>

        <div class="labels">
          <ul>
            <li id="label-pd-cima">
              <i class="icone-pendente material-icons">access_time</i>
              Pé direito: Cima
            </li>
            <li id="label-pd-lateral">
              <i class="icone-pendente material-icons">access_time</i>
              Pé direito: Lateral
            </li>
            <li id="label-pe-cima">
              <i class="icone-pendente material-icons">access_time</i>
              Pé esquerdo: Cima
            </li>
            <li id="label-pe-lateral">
              <i class="icone-pendente material-icons">access_time</i>
              Pé esquerdo: Lateral
            </li>
            <li id="label-ambos-cima">
              <i class="icone-pendente material-icons">access_time</i>
              Ambos: Cima
            </li>
          </ul>
        </div>

        <div class="form-step active" data-step="0">
          <input
            type="file"
            id="raio_x_img_pd_cima"
            name="raio_x_img_pd_cima"
            hx-trigger="change"
            hx-target="#label-pd-cima"
            hx-swap="outerHTML"
          />
          <div class="custom-input">
            <img
              class="icone-upload"
              src="{% static 'web/assets/images/upload-icon.svg' %}"
              alt=""
            />
            Selecione o arquivo
          </div>
          <p class="input-value-raiox">Nenhum arquivo selecionado</p>
        </div>

        <div class="form-step" data-step="1">
          <input
            type="file"
            id="raio_x_img_pd_lateral"
            name="raio_x_img_pd_lateral"
            hx-trigger="change"
            hx-target="#label-pd-lateral"
            hx-swap="outerHTML"
          />
          <div class="custom-input secundario">
            <img
              class="icone-upload"
              src="{% static 'web/assets/images/upload-icon.svg' %}"
              alt=""
            />
            Selecione o arquivo
          </div>
          <p class="input-value-raiox">Nenhum arquivo selecionado</p>
        </div>

        <div class="form-step" data-step="2">
          <input
            type="file"
            id="raio_x_img_pe_cima"
            name="raio_x_img_pe_cima"
            hx-trigger="change"
            hx-target="#label-pe-cima"
            hx-swap="outerHTML"
          />
          <div class="custom-input secundario">
            <img
              class="icone-upload"
              src="{% static 'web/assets/images/upload-icon.svg' %}"
              alt=""
            />
            Selecione o arquivo
          </div>
          <p class="input-value-raiox">Nenhum arquivo selecionado</p>
        </div>

        <div class="form-step" data-step="3">
          <input
            type="file"
            id="raio_x_img_pe_lateral"
            name="raio_x_img_pe_lateral"
            hx-trigger="change"
            hx-target="#label-pe-lateral"
            hx-swap="outerHTML"
          />
          <div class="custom-input secundario">
            <img
              class="icone-upload"
              src="{% static 'web/assets/images/upload-icon.svg' %}"
              alt=""
            />
            Selecione o arquivo
          </div>
          <p class="input-value-raiox">Nenhum arquivo selecionado</p>
        </div>

        <div class="form-step" data-step="4">
          <input
            type="file"
            id="raio_x_img_ambos_cima"
            name="raio_x_img_ambos_cima"
            hx-trigger="change"
            hx-target="#label-ambos-cima"
            hx-swap="outerHTML"
          />
          <div class="custom-input secundario">
            <img
              class="icone-upload"
              src="{% static 'web/assets/images/upload-icon.svg' %}"
              alt=""
            />
            Selecione o arquivo
          </div>
          <p class="input-value-raiox">Nenhum arquivo selecionado</p>
        </div>

        <div class="modal-footer">
          <div class="modal-footer-btns">
            <button type="button" class="btn-secondary" id="btn-prev-step-raiox">Fechar</button>
            <button type="button" class="btn-primary" id="btn-next-step-raiox">Avançar</button>
          </div>

          <p id="progress-title">Etapa <span>0</span>/5</p>
          <div class="progress-bar">
              <div class="progress" id="progress-bar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal">
    <div style="display: none;" id="modal-prontuario-container-raiox">
      <h5 class="modal-titulo">
        Selecione o arquivo do <span>Prontuário</span>
      </h5>
      <button style="border: none;">
        <i class="btn-fechar material-icons">close</i>
      </button>
      <div id="input-container-prontuario-raiox">
        <input type="file" id="input-prontuario-raiox" name="prontuario">
        <div class="custom-input-prontuario">
          <img
            class="icone-upload"
            src="{% static 'web/assets/images/upload-icon.svg' %}"
            alt=""
          />
          Selecione o arquivo
        </div>
      </div>
      <p id="valor-input-prontuario" class="valor-input">Nenhum arquivo selecionado</p>
      <div class="btn-container">
        <button type="submit" class="btn-primary" id="btn-submit-raiox">Enviar</button>
      </div>
    </div>
  </div>
</form>
