{% load static %}

<form
    class="form"
    method="post"
    enctype="multipart/form-data"
    action="{% url "upload-multi-modal" %}"
    >
    {% csrf_token %}
  <div class="modal">
      <div style="display: none" id="modal-exam-xray" class="modal-exam-send-images">
        <h5 class="modal-titulo">
            Selecione os arquivos da <span>Raio X</span>
        </h5>
        <button type="button" style="border: none;">
          <i class="btn-fechar material-icons">close</i>
        </button>
        <div class="input-container-images">
          <input type="file" class="input-images" name="images_xray" multiple>
          <div class="custom-input-send-images">
            <img
              class="icone-upload"
              src="{% static 'web/assets/images/upload-icon.svg' %}"
              alt="Upload icon"
            />
            Selecione o arquivo
          </div>
        </div>
        <p id="valor-input-ressonancia" class="valor-input"><span>0</span> Arquivos selecionados</p>
        <div class="btn-container">
          <button disabled type="button" class="btn-primary" id="btn-submit-images-xray">Avançar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal">
      <div style="display: none" id="modal-exam-resonance" class="modal-exam-send-images">
        <h5 class="modal-titulo">
            Selecione os arquivos da <span>Ressonância</span>
        </h5>
        <button type="button" style="border: none;">
          <i class="btn-fechar material-icons">close</i>
        </button>
        <div class="input-container-images">
          <input type="file" class="input-images" name="images_resonance" multiple>
          <div class="custom-input-send-images">
            <img
              class="icone-upload"
              src="{% static 'web/assets/images/upload-icon.svg' %}"
              alt="Upload icon"
            />
            Selecione o arquivo
          </div>
        </div>
        <p id="valor-input-ressonancia" class="valor-input"><span>0</span> Arquivos selecionados</p>
        <div class="btn-container">
          <button type="button" class="btn-secondary" id="btn-back-images-xray">Voltar</button>
          <button disabled type="button" class="btn-primary" id="btn-submit-images-resonance">Avançar</button>
        </div>
      </div>
    </div>
  </div>

  <div>
      <input type="hidden" name="patient" id="input-patient-modal-both">
      <input type="hidden" name="type-exam" id="input-type-exam">
  </div>

  <div class="modal">
    <div style="display: none;" id="modal-prontuario-container-ambos">
      <h5 class="modal-titulo">
        Selecione o arquivo do <span>Prontuário</span>
      </h5>
      <button style="border: none;">
        <i class="btn-fechar material-icons">close</i>
      </button>
      <div id="input-container-prontuario-ambos">
        <input type="file" id="input-prontuario-ambos" name="record">
        <div class="custom-input-prontuario">
          <img
            class="icone-upload"
            src="{% static 'web/assets/images/upload-icon.svg' %}"
            alt="Upload icon"
          />
          Selecione o arquivo
        </div>
      </div>
      <p id="valor-input-prontuario" class="valor-input">Nenhum arquivo selecionado</p>
      <div class="btn-container">
        <button type="button" class="btn-secondary" id="btn-back-prontuario">Voltar</button>
        <button type="submit" class="btn-primary" id="btn-submit-ressonancia">Enviar</button>
      </div>
    </div>
  </div>
</form>
