{% load static %}
<div id="modal-visualizacao-imagens-container">
  <h5 class="modal-titulo">
    Visualização das imagens de <span>Raio X</span> e <span>Ressonância</span>
  </h5>

  <button style="border: none;">
      <i class="btn-fechar material-icons">close</i>
  </button>

  <div class="list-images" hx-target="this">
      {% include 'web/partials/imagens-raiox.html' %}
      {% include 'web/partials/imagens-ressonancia.html' %}
  </div>

  <div class="btn-container">
        <button type="button" class="btn-primary" id="btn-close-view-images">Fechar</button>
  </div>
</div>